// Forward declarations of variables used by _variables.scss and
// _variables_project.scss.
//
// TODO(@chalin): autogenerate the content of this file

// Bootstrap SASS variables:

$white:    #fff !default;
$gray-300: #dee2e6 !default;
$gray-600: #6c757d !default;
$black:    #000 !default;

$blue:    #0d6efd !default;

$blue-500: $blue !default;

// Bootstrap options

$enable-gradients: true !default;
$enable-shadows: true !default;

// Theme colors

// TODO: consider moving all of these theme-color definitions into the User
// Guide SCSS, or declare theme here, but namespaced:

$primary: #30638e !default;
$secondary: #ffa630 !default;
$success: #3772ff !default;
$info: #c0e0de !default;
$warning: #ed6a5a !default;
$danger: #ed6a5a !default;
$light: #d3f3ee !default; // TODO: consider using BS value
$dark: #403f4c !default; // TODO: consider using BS value

$code-color: shade-color($secondary, 40%) !default;

:root,
[data-bs-theme='light'] {
  --td-pre-bg: var(--bs-tertiary-bg);
}

// UI element colors

// Background colors for the sections on home page etc. It is a paint by number
// system, starting at 0, where the number is taken from the shortcode's ordinal
// if not provided by the user. These colors are all part of the theme palette,
// but the mix is fairly random to create variation. This can be overridden by
// the project if needed.
$td-box-colors:
  $dark, $primary, $secondary, $info, $white, $gray-600, $success, $warning,
  $dark, $danger, $primary, $secondary, $info !default;

$link-color: $blue-500 !default;
$link-shade-percentage: 30% !default;

