// Fonts

// Cover Page
@font-face {
  font-family: 'nodesto';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/5e/nodesto_caps_condensed.woff2');
}
// Headers
@font-face  {
  font-family : 'mreaves';
	font-style : normal;
	font-weight : normal;
	src : url('../fonts/5e/mr_eaves_small_caps.woff2');
}
// Main Font, serif
@font-face {
	font-family : 'insanity';
	font-style : normal;
	font-weight : normal;
	src : url('../fonts/5e/bookinsanity.woff2');
}
@font-face {
	font-family : 'insanity';
	font-style : normal;
	font-weight : bold;
	src : url('../fonts/5e/bookinsanity_bold.woff2');
}
@font-face {
	font-family : 'insanity';
	font-style : italic;
	font-weight : normal;
	src : url('../fonts/5e/bookinsanity_italic.woff2');
}
@font-face {
	font-family : 'insanity';
	font-style : italic;
	font-weight : bold;
	src : url('../fonts/5e/bookinsanity_bold_italic.woff2');
}
// Notes and Tables, sans-serif;
@font-face {
	font-family : scaly;
	font-style : normal;
	font-weight : normal;
	src : url('../fonts/5e/scaly_sans.woff2');
}
@font-face {
	font-family : scaly;
	font-style :  normal;
	font-weight : bold;
	src : url('../fonts/5e/scaly_sans_bold.woff2');
}
@font-face {
	font-family : scaly;
	font-style : italic;
	font-weight : bold;
	src : url('../fonts/5e/scaly_sans_bold_italic.woff2');
}
@font-face {
	font-family : scaly;
	font-style : normal;
	font-weight : normal;
	src : url('../fonts/5e/scaly_sans_caps.woff2');
}
@font-face {
	font-family : scaly;
	font-style : italic;
	font-weight : normal;
	src : url('../fonts/5e/scaly_sans_italic.woff2');
}

// Font defaults

$td-fonts-serif:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-family-sans-serif: $td-fonts-serif !default; // TODO: consider moving into UG SCSS or namespace the var (td-)

$font-family-monospace:
  SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
  monospace !default; // TODO: consider moving into UG SCSS or namespace the var (td-)

$font-family-base: $font-family-sans-serif !default; // TODO: consider moving into UG SCSS or namespace the var (td-)

h1,h2,h3,h4,h5,h6 {
  font-family: join('#{mreaves}', $td-fonts-serif);
}

p {
  font-family: join('#{insanity}', $td-fonts-serif);
}

// Base sizes
$font-size-base: 1.115rem !default;
$spacer: 1rem !default;

// Font weights
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;
$font-weight-body-text: $font-weight-normal !default;

$td-enable-google-fonts: false !default;

$google_font_name: 'Open Sans' !default;
$google_font_family: 'Open+Sans:300,300i,400,400i,700,700i' !default;
$web-font-path: 'https://fonts.googleapis.com/css?family=#{$google_font_family}&display=swap';

$font-awesome-font-name: 'Font Awesome 6 Free' !default;

@if $td-enable-google-fonts {
  $td-fonts-serif: join('#{$google_font_name}', $td-fonts-serif);
}

// Heading sizes

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 1.75 !default;
$h3-font-size: $font-size-base * 1.475 !default; // TODO: consider using BS default (* 1.75), or moving into UG SCSS
$h4-font-size: $font-size-base * 1.325 !default; // TODO: consider using BS default (* 1.5), or moving into UG SCSS
$h5-font-size: $font-size-base * 1.225 !default; // TODO: consider using BS default (* 1.25), or moving into UG SCSS
$h6-font-size: $font-size-base * 1.125 !default;

// Space

$td-block-space-top-base: 4 * $spacer !default;
$td-block-space-bottom-base: 4 * $spacer !default;

// Pagination

$pagination-color: $gray-600 !default; // TODO: consider using BS default
$pagination-disabled-color: $gray-300 !default; // TODO: consider using BS default

// Footer

$list-inline-padding: $spacer;
